html{
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}